src/main/resources/xsd/credit-check-request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.org/credit"
           xmlns="http://example.org/credit"
           elementFormDefault="qualified">

    <xs:element name="CreditCheckRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="requestId" type="xs:string"/>
                <xs:element name="iin">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:length value="12"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
