src/main/resources/xsd/credit-check-response.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.org/credit"
           xmlns="http://example.org/credit"
           elementFormDefault="qualified">

    <xs:element name="CreditCheckResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="requestId" type="xs:string"/>
                <xs:element name="approved" type="xs:boolean"/>
                <xs:element name="score" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
