src/main/xsd/credit.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/credit"
           xmlns="http://example.com/credit"
           elementFormDefault="qualified">

    <xs:simpleType name="IINType">
        <xs:restriction base="xs:string">
            <xs:length value="12"/>
            <xs:pattern value="\d{12}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="CreditCheckRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="requestId" type="xs:string"/>
                <xs:element name="iin" type="IINType"/>
                <xs:element name="firstName" type="xs:string"/>
                <xs:element name="lastName" type="xs:string"/>
                <xs:element name="amount" type="xs:decimal"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="CreditCheckResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="requestId" type="xs:string"/>
                <xs:element name="decision" type="xs:string"/>
                <xs:element name="score" type="xs:int"/>
                <xs:element name="comment" type="xs:string" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
